body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.display {
    font-size: 50px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 240px;
}

button {
    flex: 1;
    padding: 25px;
    border-radius: 8px;
    background-color: beige;
}

#divide, #equal {
    flex: 0;
}